<div class="form-container">
    <div class="form-wrapper register p-l-85 p-t-85 p-r-85 p-b-50">
      <span class="form-heading p-b-20">REGISTRATION Form</span>
      <form id="Register" #userRegistrationForm="ngForm" (ngSubmit)="registerUserOperation()">
        <label class="text-title p-b-10" for="tbName">Name</label>
        <div class="input-div m-b-25" id="divName">
          <input type="text" id="tbName" class="input-text" name="Name" placeholder="Name" #Name="ngModel" [(ngModel)]="register.Name" />
        </div>
        <label class="text-title p-b-10" for="tbEmailId">Email Id</label>
        <div class="input-div m-b-25" id="divEmailId">
          <input type="text" id="tbEmailId" class="input-text" name="EmailId" placeholder="Email Id" #EmailId="ngModel" [(ngModel)]="register.EmailId"
          />
        </div>
        <label class="text-title p-b-10" for="tbPassword">Password</label>
        <div class="input-div m-b-25" id="divPassword">
          <input type="password" id="tbPassword" class="input-text" name="Password" placeholder="Password" #Password="ngModel" [(ngModel)]="register.Password"
          />
        </div>
        <label class="text-title p-b-10" for="tbDate">Date of Joining</label>
        <div class="input-div m-b-25" id="divDateOfJoining">
          <input type="date" id="tbDate" class="input-text" name="DateOfJoining" #DateOfJoining="ngModel" [(ngModel)]="register.DateOfJoining" />
        </div>
        <label class="text-title p-b-10" for="drpPosition">Position</label>
        <div class="input-div m-b-25" id="divPosition">
          <select id="drpPosition" name="PositionId" class="input-text select" #PositionId="ngModel" [(ngModel)]="register.PositionId">
            <option value="0">Select Position</option>
            <option [ngValue]="k.Id" *ngFor="let k of positions">
              {{k.Position}}
            </option>
          </select>
        </div>
        <label class="text-title p-b-10" for="drpDepartment">Department</label>
        <div class="input-div m-b-25" id="divDepartment">
          <select id="drpDepartment" name="DepartmentId" class="input-text select" #DepartmentId="ngModel" [(ngModel)]="register.DepartmentId">
            <option value="0">Select Department</option>
            <option [ngValue]="k.Id" *ngFor="let k of departments">
              {{k.Department}}
            </option>
          </select>
        </div>
        <label class="text-title p-b-10">Approval Permission</label>
        <div class="reg-type m-b-25" id="divApprovalPermission">
          <input type="radio" class="" id="rdYes" name="ApprovalPermission" value="Yes" #ApprovalPermission="ngModel" [(ngModel)]="register.ApprovalPermission"
          /><label for="rdYes">Yes</label>
          <input type="radio" class="m-l-25" id="rdNo" name="ApprovalPermission" value="No" #ApprovalPermission="ngModel" [(ngModel)]="register.ApprovalPermission"
          /><label for="rdNo">No</label>
        </div>
        <div class="reg-type m-b-25" id="divUploadImage">
          <input type="file" name="uploadImage" id="uploadImage" (change)="fileChange($event)" class="upload-image" accept="image/*" />
        </div>
        <div class="button-div">
            <button type="submit" name="Submit" class="form-btn submit" id="btnSubmit" (click)="validateData()">Submit</button>
            <button type="reset" class="form-btn reset" id="btnReset" name="Reset">Reset</button>
        </div>
      </form>
      <div class="link-div">
        <a routerLink="/login" class="form-link">Login</a>
      </div>
  </div>
</div>