<div class="header">
  <div class="header-left">
    <span>EMPLOYEE LEAVE PORTAL</span>
  </div>
  <div class="header-right">
  <img src="{{imageSrc}}" alt="{{userName}}" height="25px" width="25px">  Welcome | {{userName}}
  </div>
</div>
<nav class="nav">
  <ul *ngIf="permission == true">
    <li><a routerLink="/applyleave">Apply Leave</a></li>
    <li><a routerLink="/viewleaves">View Leave</a></li>
    <li><a routerLink="/grantleaves">Approve/Unapprove Leave</a></li>
    <li><a routerLink="#" (click)="logoutApplication()">Logout</a></li>
  </ul>
  <ul *ngIf="permission == false">
    <li><a routerLink="/applyleave">Apply Leave</a></li>
    <li><a routerLink="/viewleaves">View Leave</a></li>
    <li><a routerLink="#" (click)="logoutApplication()">Logout</a></li>
  </ul>
</nav>