nav {
	margin: 0 auto;
	background: #008FEA;
	box-shadow: 0 3px 15px rgba(0,0,0,.15);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

nav ul li a:focus {
	color: white;
}

nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

.user-session {
	font: 18px arial, sans-serif;
	color: white;
	text-align: left;
}

.header {
	background-color: #0250c5;
}

.header-right {
	text-align: right;
	color: white;
	padding-right: 5px;
	height: 30px;
}

.header-left {
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
	color: white;
}

img {
	border-radius: 50%;
}