<app-menues></app-menues>
<div style="padding-top: 20px;"></div>
<div class="form-container">
    <div class="form-wrapper applyleave p-l-40 p-r-40">
      <span class="form-heading p-b-20">APPLY LEAVE Form</span>
      <form id="ApplyLeave" #applyLeaveForm="ngForm" (ngSubmit)="applyLeaveOperation()">
        <label class="text-title p-b-10" for="tbFromDate">From Date</label>
        <div class="input-div m-b-25" id="divFromDate">
            <input type="date" id="tbFromDate" class="input-text" name="FromDate" placeholder="From Date" #FromDate="ngModel" [(ngModel)]="applyLeave.FromDate" 
            (blur)="onValueBlur($event.target.value)" [value]="applyLeave.FromDate" />
        </div>
        <label class="text-title p-b-10" for="tbToDate">To Date</label>
        <div class="input-div m-b-25" id="divToDate">
          <input type="date" id="tbToDate" name="ToDate" class="input-text" placeholder="To Date" #ToDate="ngModel" [(ngModel)]="applyLeave.ToDate" 
          (blur)="onValueBlur($event.target.value)" />
        </div>
        <div class="check-box m-b-25">
          <label for="chkHalfDay">Half Day</label>
          <input type="checkbox" id="chkHalfDay" name="HalfDay" #HalfDay="ngModel" [(ngModel)]="applyLeave.HalfDay" (blur)="onValueBlur($event.target.checked)" />
        </div>
        <label class="text-title p-b-10" for="tbHalfDayDate">Half Day Date</label>
        <div class="input-div m-b-25" id="divHalfDayDate">
          <input type="date" id="tbHalfDayDate" class="input-text" placeholder="Half Day Date" name="HalfDayDate" #HalfDayDate="ngModel" [(ngModel)]="applyLeave.HalfDayDate" 
          (blur)="onValueBlur($event.target.value)" />
        </div>
        <label class="text-title p-b-10" for="tbNoOfDay">No. Of Days</label>
        <div class="input-div m-b-25" id="divNoOfDay">
          <input type="text" id="tbNoOfDay" class="input-text" placeholder="No. Of Days" name="NoOfDays" #NoOfDays="ngModel" [(ngModel)]="applyLeave.NoOfDays" 
          readonly="readonly" />
        </div>
        <label class="text-title p-b-10" for="tbReason">Reason</label>
        <div class="input-div text-area m-b-25" id="divReason">
          <textarea id="tbReason" class="input-text text-area" maxlength="500" name="Reason" #Reason="ngModel" [(ngModel)]="applyLeave.Reason"></textarea>
        </div>
        <div class="button-div">
          <button type="submit" name="Submit" class="form-btn submit" id="btnSubmit" (click)="validateData()">Submit</button>
          <button type="reset" class="form-btn reset" id="btnReset" name="Reset">Reset</button>
        </div>
      </form>
    </div>
</div>